@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for horizontal scroll containers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
